<app-wfh-navigation></app-wfh-navigation>
<footer class="text-center text-light bg-dark p-2">
  <h1 id="wfh_resources">WFH_Resources</h1>
  <p>
    Work from Home Resources Please see
    <a class="text-warning" href="https://ignatandrei.github.io/WFH_Resources/"
      >https://ignatandrei.github.io/WFH_Resources/</a
    >
  </p>
  <p>
    ( for adding resources, please see
    <a class="text-warning" href="https://github.com/ignatandrei/WFH_Resources"
      >https://github.com/ignatandrei/WFH_Resources</a
    >)
    <img
      src="https://github.com/ignatandrei/WFH_Resources/workflows/CI/badge.svg"
      alt="CI"
    />
  </p>
</footer>
