<app-wfh-navigation></app-wfh-navigation>

<div class="bg-dark pl-0 pr-0">
  <div class="row">
    <div class="col-sm-12 text-center text-light p-2">
      <h2 id="">Work From Home: Resources</h2>
      <h5>
        Brought to you by
        <a class="text-warning" href="https://github.com/ignatandrei"
          >Andrei Ignat</a
        >
        and
        <a class="text-warning" href="https://github.com/shdow">Bogdan Bobe</a>
      </h5>
      <p>
        To check the GitHub for this page, please click
        <a
          class="text-warning font-weight-bold"
          href="https://ignatandrei.github.io/WFH_Resources/"
          >here</a
        >
      </p>
      <p>
        To help us with adding resources, please click
        <a
          class="text-warning font-weight-bold"
          href="https://github.com/ignatandrei/WFH_Resources"
          >here</a
        >
      </p>

      <p>This is where we collect our data from:</p>
      <p>
        <a
          class="badge badge-pill badge-warning mr-2 ml-2"
          href="https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependent_territories_by_mortality_rate"
          >Wikipedia</a
        >

        <a
          class="badge badge-pill badge-warning mr-2 ml-2"
          href="https://github.com/CSSEGISandData/COVID-19/"
          >Johns Hopkins CSSE</a
        >

        <a
          class="badge badge-pill badge-warning mr-2 ml-2"
          href="https://thevirustracker.com/"
          >TheVirusTracker.com</a
        >
      </p>
      <img
        src="https://github.com/ignatandrei/WFH_Resources/workflows/CI/badge.svg"
        alt="CI"
      />
    </div>
  </div>
</div>
