<app-wfh-navigation></app-wfh-navigation>

<div class="bg-dark pl-0 pr-0">
  <div class="row">
    <div class="col-sm-12 text-center  text-light p-2">
      <h1 id="">WFH_Resources</h1>
      <p>
        Work from Home Resources Please see
        <a
          class="text-warning"
          href="https://ignatandrei.github.io/WFH_Resources/"
          >https://ignatandrei.github.io/WFH_Resources/</a
        >
      </p>
      <p>
        ( for adding resources, please see
        <a
          class="text-warning"
          href="https://github.com/ignatandrei/WFH_Resources"
          >https://github.com/ignatandrei/WFH_Resources</a
        >)
        <img
          src="https://github.com/ignatandrei/WFH_Resources/workflows/CI/badge.svg"
          alt="CI"
        />
      </p>
    </div>
  </div>
</div>
