<form>
  <nav class="form-inline navbar navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Work From Home: Resources</a>

    <button class="btn btn-dark" (click)="changeDarkMode()"></button>

    <input
      class="form-control"
      type="text"
      [formControl]="filter"
      placeholder="Search through resources"
    />
  </nav>
</form>
<table class="table pa-2 table-hover" [ngClass]="darkMode">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="text-center">#</th>
      <!-- <th scope="col" class="text-center">Tags</th> -->
      <th scope="col" class="text-center">Category</th>
      <th scope="col" class="text-center">Subcategory</th>
      <th scope="col" class="text-center">Resource Name</th>
      <!-- <th scope="col">Description</th> -->
      <th scope="col">Links</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories$ | async; let i = index">
      <th scope="row" class="text-center">{{ i + 1 }}</th>

      <!-- <td class="text-center">{{ category.tags }} tags {{ i + 1 }}</td> -->
      <td class="text-center">
        <ngb-highlight
          [result]="category.category"
          [term]="filter.value"
        ></ngb-highlight>
      </td>
      <td class="text-center">
        <ngb-highlight
          [result]="category.subCategory"
          [term]="filter.value"
        ></ngb-highlight>

        <a
          target="_blank"
          href="https://github.com/ignatandrei/WFH_Resources/edit/master/{{category.category}}/{{category.subCategory}}.md"
        >
          <br />
          Edit
        </a>
      </td>
      <td class="text-center font-weight-bold">
        <ngb-highlight
          [result]="category.name"
          [term]="filter.value"
        ></ngb-highlight>
      </td>
      <!-- <td>{{ category.description }} desc {{ i + 1 }}</td> -->
      <td>
        <a
          *ngFor="let f of category.links; let i = index"
          href="{{ f }}" target="_blank"
          [ngClass]="getClassLink(f)"
          class="btn text-center white ml-2 mb-2"
          role="button"
          ngbTooltip="{{ f }}"
        >
          {{ getLinkName(f) }} 
        </a>
      </td>
    </tr>
  </tbody>
</table>
