<form>
  <div class="form-group form-inline">
    Full text search:
    <input class="form-control ml-2" type="text" [formControl]="filter" />
  </div>
</form>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tags</th>
      <th scope="col">Category</th>
      <th scope="col">SubCategory</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Links</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of (categories$ | async); let i=index">
      <th scope="row">{{i+1}}) {{ category.name }}</th>
      
      <td>
        {{ category.tags }} 
      </td>
      <td>
        <ngb-highlight
          [result]="category.category"
          [term]="filter.value"
        ></ngb-highlight>
      </td>
      <td>
        <ngb-highlight
          [result]="category.subCategory"
          [term]="filter.value"
        ></ngb-highlight>
        
        <a target="_blank" href="https://github.com/ignatandrei/WFH_Resources/edit/master/{{category.category}}/{{category.subCategory}}.md"> Edit </a>
     
      </td>
      <td>
        <ngb-highlight
          [result]="category.name"
          [term]="filter.value"
        ></ngb-highlight>
      </td>
      <td>{{ category.description }}</td>
      <td>
        <ol>
            <li *ngFor="let f of category.links">
             <a href="{{f}}" target="_blank">{{f}}</a> 
            </li>
        </ol>
    </tr>
  </tbody>
</table>
