<div class="row">
  <div class="col-sm-12">
    <select [ngModel]="statusSelected" (ngModelChange)="changeStatus($event)">
      <option *ngFor="let s of status" [ngValue]="s">{{ s }}</option>
    </select>
    <div>
      <a href="{{ currentLink }}">{{ currentLink }} </a>
    </div>
    <span *ngFor="let c of countrySelected; let i = index">
      Country {{ i + 1 }}:
      <select
        name="countriesFirst"
        [ngModel]="countrySelected[i]"
        (ngModelChange)="changeSelection(i, $event)"
      >
        <option [ngValue]="null">Please select</option>
        <option
          *ngFor="let c1 of AllCountries[i]; let j = index"
          [ngValue]="c1"
        >
          {{ c1.Country }}
        </option>
      </select>
      <button (click)="removeCountry(i)" *ngIf="AllCountries?.length > 2">
        remove
      </button>
    </span>

    <div>
      <button (click)="addCountry(null)" *ngIf="canAdd()">Add</button>
    </div>
    <div id="content">
      <canvas #chartCompare></canvas>
    </div>
    <div id="content1" style="width:90%">
      <canvas #chartBoth></canvas>
    </div>
  </div>
</div>

<div
  class="card text-white bg-dark border-0 rounded-0"
  *ngFor="let corona of coronaOverallStatusData?.results"
>
  <div class="card-header font-weight-bold">
    COVID-19 Daily Tracker
  </div>
  <div class="card-body">
    <p class="card-text">There are {{ corona.total_cases }} total cases.</p>
    <p class="card-text">{{ corona.total_recovered }} people have recovered.</p>
    <p class="card-text">
      There are {{ corona.total_unresolved }} unresolved cases.
    </p>
    <p class="card-text">{{ corona.total_deaths }} people have died.</p>
    <p class="card-text">
      There are {{ corona.total_new_cases_today }} new cases today.
    </p>
    <p class="card-text">
      {{ corona.total_new_deaths_today }} people have died today.
    </p>
    <p class="card-text">Total active cases: {{ corona.total_active_cases }}</p>
    <p class="card-text">
      Total serious cases: {{ corona.total_serious_cases }}
    </p>
    <p class="card-text">
      <a
        class="text-white font-weight-bold"
        href="{{ corona.source.url }}"
        target="_blank"
        >Source</a
      >
    </p>
  </div>
</div>
