#content {
  margin: auto;
  width: 100%;
  background-color: #ffffff;
  padding: 0px;
}
#content1 {
  width: 100%;
}
#chartBoth {
  width: auto;
  height: auto;
}
.container {
  padding-left: 0px;
  padding-right: 0px;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
