<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Work From Home: Resources</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <form class="form-inline">
    <app-table-wfh [formControl]="filter"
      ><input
        class="form-control"
        type="text"
        placeholder="Search through resources"
        aria-label="Search"
      />
    </app-table-wfh>
  </form> -->
</nav>

<div class="ticker-wrap bg-danger text-white pt-3 pb-3 font-weight-bold">
  <div class="ticker" *ngFor="let coronaTicker of covidTickerData.results">
    <div class="ticker-item">
      COVID-19 Daily Status -->>
    </div>
    <div class="ticker-item">
      There are {{ coronaTicker.total_cases }} total cases
    </div>
    <div class="ticker-item">
      {{ coronaTicker.total_recovered }} people have recovered.
    </div>
    <div class="ticker-item">
      There are {{ coronaTicker.total_unresolved }} unresolved cases.
    </div>
    <div class="ticker-item">
      {{ coronaTicker.total_deaths }} people have died.
    </div>
    <div class="ticker-item">
      There are {{ coronaTicker.total_new_cases_today }} new cases today.
    </div>
    <div class="ticker-item">
      {{ coronaTicker.total_new_deaths_today }} people have died today.
    </div>
    <div class="ticker-item">
      Total active cases: {{ coronaTicker.total_active_cases }}
    </div>
    <div class="ticker-item">
      Total serious cases: {{ coronaTicker.total_serious_cases }}
    </div>
  </div>
</div>

<div class="pl-0 pr-0 width-100">
  <div class="row width-100 ml-0 mr-0">
    <div
      class="col-sm-1 pl-0 pr-0 border-right collapse navbar-collapse"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mr-auto">
        <li
          class="card border-0 nav-item active"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a
            class="btn btn-secondary card-header active text-left border-0 rounded-0"
            routerLink="/"
            >Home</a
          >
        </li>
        <li
          class="card border-0 nav-item"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a
            class="btn btn-secondary card-header active text-left border-0 rounded-0"
            routerLink="about"
            id="about"
            >About</a
          >
        </li>
        <li class="card border-0 nav-item">
          <button
            class="btn btn-secondary card-header active text-left border-0 rounded-0"
            id="headingTwo"
            type="button"
            (click)="isCategoriesCollapsed = !isCategoriesCollapsed"
            [attr.aria-expanded]="!isCategoriesCollapsed"
            aria-controls="collapseCategories"
          >
            Categories
          </button>

          <div id="collapseCategories" [ngbCollapse]="isCategoriesCollapsed">
            <div class="card-body">
              <a
                class="list-group-item list-group-item-action"
                *ngFor="let cat of Categories | keyvalue"
                role="tab"
                routerLink="/resources"
                [queryParams]="{ category: cat.key }"
                ><svg
                  class="bi bi-stop"
                  width="2em"
                  height="2em"
                  viewBox="0 0 16 16"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M3.5 5A1.5 1.5 0 015 3.5h6A1.5 1.5 0 0112.5 5v6a1.5 1.5 0 01-1.5 1.5H5A1.5 1.5 0 013.5 11V5zM5 4.5a.5.5 0 00-.5.5v6a.5.5 0 00.5.5h6a.5.5 0 00.5-.5V5a.5.5 0 00-.5-.5H5z"
                    clip-rule="evenodd"
                  /></svg
                >{{ cat.key }}</a
              >
            </div>
          </div>
        </li>
        <li class="card border-0 nav-item">
          <button
            class="btn btn-secondary card-header active text-left border-0 rounded-0"
            id="headingThree"
            type="button"
            (click)="isSubCategoriesCollapsed = !isSubCategoriesCollapsed"
            [attr.aria-expanded]="!isSubCategoriesCollapsed"
            aria-controls="collapseSubCategories"
          >
            Subcategory
          </button>

          <div
            id="collapseSubCategories"
            class=""
            [ngbCollapse]="isSubCategoriesCollapsed"
          >
            <div class="card-body" *ngFor="let cat of Categories | keyvalue">
              <a
                class="list-group-item list-group-item-action"
                *ngFor="let subCat of Categories.get(cat.key).sort()"
                role="tab"
                routerLink="/resources"
                [queryParams]="{ subcategory: subCat }"
                ><svg
                  class="bi bi-stop"
                  width="2em"
                  height="2em"
                  viewBox="0 0 16 16"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M3.5 5A1.5 1.5 0 015 3.5h6A1.5 1.5 0 0112.5 5v6a1.5 1.5 0 01-1.5 1.5H5A1.5 1.5 0 013.5 11V5zM5 4.5a.5.5 0 00-.5.5v6a.5.5 0 00.5.5h6a.5.5 0 00.5-.5V5a.5.5 0 00-.5-.5H5z"
                    clip-rule="evenodd"
                  /></svg
                >{{ subCat }}
              </a>
            </div>
          </div>
        </li>

        <li
          class="card border-0 nav-item"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a
            class="btn btn-secondary card-header active text-left border-0 rounded-0"
            id="headingThree"
            type="button"
            routerLink="/covidData"
          >
            COVID-19 Tracker
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-11 pl-0 pr-0 width-100">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
