.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  top: 0;
  z-index: 1;
}
.list-group-item {
  border: none;
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: #343a40;
  box-shadow: none;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #343a40;
  border-color: none;
}
.card-header {
  padding: 0.83rem 1.25rem;
}

/* Media queries */

@media only screen and (max-width: 768px) {
  .phoneMenu {
    width: 100%;
    border-right: 0px;
  }
}
.container {
  padding-left: 0px;
  padding-right: 0px;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
